<h1>Black Jack</h1>

<ul class="cards">
  <%= render partial: 'card', locals: { value: 'J', suit: 'clubs', symbol: '♣' } %>
  <%= render partial: 'card', locals: { value: 'Q', suit: 'diamonds', symbol: '♦' } %>
  <%= render partial: 'card', locals: { value: 'K', suit: 'hearts', symbol: '♥' } %>
  <%= render partial: 'card', locals: { value: 'A', suit: 'spades', symbol: '♠' } %>
</ul>