// Place all the styles related to the GameSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  font-family: 'Open Sans', sans-serif;
}

ul.cards {
  list-style: none;

  li {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
    width: 106px;
    text-align: center;
  }

  .card-value {
    position: absolute;
    top: 0.1em;
    left: 0.25em;
    font-size: 1.5em;
  }

  .card-suit {
    line-height: 150px;
    font-size: 2em;
  }

  .card-suit.diamonds, .card-suit.hearts {
    color: #f00;
  }

  .card-suit.clubs, .card-suit.spades {
    color: #000;
  }
}
